.top-section {
    height: auto!important;
}
.back-btn {
    padding: 0;
    width: 56px;
    min-width: 56px;
    height: 56px;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.back-btn .btn-default {
    margin-right: 12px;
}
.back-btn .btn-default svg {
    transform: rotateZ(180deg);
}
.top-section::before {
    display: none;
}
header {
    margin-bottom: 41px;
}
.legacy-wrapper {
    max-width: 871px;
    width: 100%;
    margin: 0 auto;
}
h1 {
    margin: 36px 0 0;
}
h2 {
    margin: 0 0 15px;
    line-height: 44px;
}
h2:not(:first-child) {
    margin-top: 41px;
}
.legacy-description {
    margin-top: 32px;
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.legacy-description p {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    margin: 0 0 23px;
}
footer {
    margin-top: 100px;
}
.legacy-description ul {
    list-style-type: decimal;
    display: block;
    padding: 0 0 0 18px;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    margin: 0 0 23px;
}
.legacy-description li {
    margin: 0 0 23px;
}
@media screen and (max-width: 1365px) {
    .legacy-wrapper {
        max-width: 992px;
        padding: 0 40px;
    }
}
@media screen and (max-width: 991px) {
    .legacy-wrapper {
        max-width: 768px;
        padding: 0 24px;
    }
}
@media screen and (max-width: 767px) {
    .legacy-wrapper {
        max-width: 552px;
        padding: 0 32px;
    }
}
@media screen and (max-width: 551px) {
    header {
        margin-bottom: 24px;
    }
    h1 {
        margin: 23px 0 0;
    }
    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    h2:not(:first-child) {
        margin-top: 21px;
    }
    .legacy-wrapper {
        max-width: 320px;
        padding: 0 16px;
    }
    .legacy-description {
        margin-top: 29px;
        padding-top: 23px;
    }
    .legacy-description p {
        font-size: 14px;
        line-height: 28px;
        margin: 0;
    }
    footer {
        margin-top: 95px;
    }
}
